# Python temporary files
__pycache__/
*.pyc
.ipynb_checkpoints/

# WRF raw output and large model files
wrfout*
wrfrst*
met_em*
geo_em*
auxhist*
rsl.out.*
rsl.error.*

# Large data formats
*.nc
*.nc4
*.grib
*.grb
*.h5
*.hdf

# System files
.DS_Store
